.App {
  /* background-color: red; */

  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.MasterWrapper{
  /* background-color: blue; */
  
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
  align-items: center;
  
}

/* -------------------- header content -------------------- */
.Header{
  /* background-color: yellow; */

  width: 100%;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid rgba(74,74,74,0.6);
}

.Header > .wrapper{
  /* background-color:pink; */

  width: 100%;
  max-width: 1168px;
  padding: 5px 16px;

  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------------- main content -------------------- */
.MainContent{
  /* background-color: blueviolet; */

  width: 100%;
  display: flex;
  justify-content: center;
}

.MainContent > .wrapper{
  /* background-color:orange; */

  width: 100%;
  max-width: 1168px;
  padding: 5px 16px;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

/* -------------------- footer -------------------- */
.Footer{
  background-color: black;
  
  width: 100%;
  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;

  padding: 10px 0px;

  opacity: .88;
}

.Footer > .wrapper{
  /* background-color: royalblue; */
  color: white;

  width: 100%;
  max-width: 1168px;
  padding: 5px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* ---------- calvin logo ---------- */
.CalvinLogo{
  background-color: white;
  border-radius: 20%;

  cursor: pointer;
}

/* ---------- cloud logo ---------- */
.CloudLogo{
  margin: 10px 0px;
  display: flex;
  align-items: center;

  cursor: default;
}

.CloudLogo > *{
  margin: 20px;
}

/* ---------- VM Available ---------- */
.VMAvailable{
  margin: 15px 0px;

  display: flex;
  flex-flow: column;
  align-items: flex-start;

  cursor: default;
}

.VMAvailable .lable{
  font-size: 24px;
  font-weight: 500;
}

/* ---------- customised button ---------- */
.CustomisedButton button{
  border: 0px;
  border-radius: 20px;
  padding: 13px 20px;
  cursor: pointer;
  transition: .3s;

  font-weight: 600;
  font-size: 12px;
}

button:focus {outline:0;}

.CustomisedButton.A button{
  background-color: #d7ff54;
}

.CustomisedButton.A button:hover{
  background-color: #acc73e;
}

.CustomisedButton.B button{
  background-color: black;
  color: white;
}

.CustomisedButton.B button:hover{
  background-color: grey;
}

.CustomisedButton.C button{
  background-color: white;
  padding: 13px 10px;
  cursor: pointer;
  transition: .3s;
}

.CustomisedButton.C button:hover{
  color: #d7ff54;
  text-decoration: underline;
}

.CustomisedButton.D button{
  background-color: #ffb625;
  
}

.CustomisedButton.D button:hover{
  background-color: #d99918;
}

/* ---------- main nav ---------- */
.MainNav{
  display: flex;
  align-items: center;
}

.MainNav > *{
  margin-left: 10px;
}

/* ---------- contact info ---------- */
.ContactInfo{
  width: 200px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  font-size: 12px;
  font-weight: 500;
}

.ContactInfo .title{
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 5px;
}

.ContactInfo .lable{
  min-width: 50px;
  display: inline-block;
  text-align: initial;
  font-weight: 600;
}

.ContactInfo .lable a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: .4s;
}

.ContactInfo .lable a:hover{
  color: #d7ff54;
  text-decoration: underline;
}

/* ---------- mainContent after login ---------- */
.MainContentAfterLogin{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

/* ---------- Renting status user view ---------- */
.RentingStatusUserView{
  margin: 20px 0px;

  display: flex;
  flex-flow: column;
  align-items: flex-start;

  cursor: default;
}

.RentingStatusUserView .lable{
  font-size: 24px;
  font-weight: 500;
}

/* ---------- main content admin view ---------- */
.MainContentAdminView{
  width: 400px;  
}

.MainContentAdminView table{
  width: 100%;
  border-collapse: collapse;
}

.MainContentAdminView table, th, td{
  border: 1px solid #ddd;
  text-align: left;
  cursor: default;
}

.MainContentAdminView th, td {
  padding: 15px;
}

.MainContentAdminView td.amount{
  padding-left: 15px;
}
.MainContentAdminView td.amount > *{
  display: inline-block;
  margin-left: 20px;
}

/* ---------- extrenal progress bar library ---------- */
.react-flexible-progressbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.react-flexible-progressbar .rf-progressbar {
  width: 100%;
  position: relative;
  background-color: #dcdde1;
  border-radius: 100px;
  overflow: hidden;
}
.react-flexible-progressbar .rf-progressbar > div {
  height: 100%;
  transition: width 1s;
  position: relative;
  overflow: hidden;
}

.react-flexible-progressbar .rf-progressbar > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 7s linear infinite;
  overflow: hidden;
}

.react-flexible-progressbar .rf-progressbar> span::after {
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

.react-flexible-progressbar .rf-progress-txt {
  margin-top: 5px;
  font-size: 12px;
  font-family: 'Open Sans',sans-serif;
}

.VMAvailable .react-flexible-progressbar .rf-progressbar > div {
  background-color: #55d41f;
}

.RentingStatusUserView .react-flexible-progressbar .rf-progressbar > div {
  background-color: #ff7316;
}

/* ---------- main content demo ---------- */
.MainContentDemo{
  /* background-color: blueviolet; */

  width: 100%;
  display: flex;
  justify-content: center;
}

.MainContentDemo > .wrapper{
  /* background-color:orange; */

  width: 100%;
  max-width: 1168px;

  display: flex;
  flex-flow: column;
  align-items: flex-start;

  margin-bottom: 300px;
}

/* ---------- main content signin ---------- */
.MainContentSignIn{
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 80px;
}

.MainContentSignIn form{
  display: flex;
  flex-flow: column;
}


.MainContentSignIn input {
  transition: .3s;
  -webkit-appearance: none;
}


.MainContentSignIn input[type=text],
.MainContentSignIn input[type=password]{
  padding: 5px;
  border: none;
  border-bottom: 2px solid grey;
  border-radius: 0px;
  -webkit-appearance: none;

  font-size: 15px;
  font-weight: 600;
}

.MainContentSignIn input[type=text]:hover,
.MainContentSignIn input[type=password]:hover{
  border: none;
  border-bottom: 2px solid #d7ff54;
}

.MainContentSignIn input:focus {
  outline:0;
  border-bottom: 2px solid #d7ff54;
}

.MainContentSignIn input[type=submit]{
  border: none;
  background-color: #d7ff54;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.MainContentSignIn input[type=submit]:hover{
  background-color: #acc73e;
}

.MainContentSignIn .lable{
  align-self: start;
  font-size: 24px;
  font-weight: 500;
}

/* ---------- main content project ---------- */
.MainContentProject{
  margin-top: 20px;
  display: flex;
  flex-flow: column;

  margin-bottom: 350px;

}

.MainContentProject .lable{
  font-size: 24px;
  font-weight: 500;

  align-self: flex-start;
  margin-bottom: 20px;
  cursor: default;
}

.MainContentProject .project_obtion{
  display: flex;
  justify-content: space-around;

  width: 400px;
}

/* ---------- project ---------- */
.Project{
  margin-top: 35px;

  display: flex;
  flex-flow: column;
}

.Project .title{
  font-size: 30px;
  font-weight: 500;
  align-self: flex-start;
  cursor: default;
}

.Project .lable{
  cursor: default;
}

.Project a{
  font-size: 15px;
  font-weight: 500;
  align-self: flex-start;
  text-align: left;
  margin-bottom: 10px;
  text-decoration: none;
  transition: .3s;
}

.Project a:hover{
  text-decoration: none;
  color: #d7ff54 !important;
}


.Project a:visited{
  text-decoration: none;
  color: black;
}

.slick-prev:before, .slick-next:before {
  color: grey !important;
  transition: .3s;
}



.Project .slick-slider{
  margin-top: 20px;
  margin-bottom: 60px;
  display: block;
  
  width: 700px;
}

.Project .slick-slider img{
  border-radius: 30px;
  
  width: 700px;
  height: 700px;
}

@media screen and (max-width: 760px) {
  .MainContentProject .project_obtion{
    width: 500px;
  }

  .Project .slick-slider{    
    width: 500px;
  }
  
  .Project .slick-slider img{
    width: 500px;
    height: 500px;
  }
}


@media screen and (max-width: 535px) {
  .MainContentProject .project_obtion{
    width: 400px;
  }
  
  .Project .slick-slider{    
    width: 400px;
  }
  
  .Project .slick-slider img{
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 430px) {
  .MainContentProject .project_obtion{
    width: 350px;
    flex-flow: column;
    align-items: flex-start;    
  }
  .MainContentProject .project_obtion > *{
    margin-bottom: 10px;    
  }

  .Project .slick-slider{    
    width: 350px;
  }
  
  .Project .slick-slider img{
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 380px) {
  .MainContentProject .project_obtion{
    width: 300px;
  }
  
  .Project .slick-slider{    
    width: 300px;
  }
  
  .Project .slick-slider img{
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 330px) {
  .MainContentProject .project_obtion{
    width: 250px;
  }
  
  .Project .slick-slider{    
    width: 250px;
  }
  
  .Project .slick-slider img{
    width: 250px;
    height: 250px;
  }
}